#logo {
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    */
    /*-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    */
    /* animation: fill 0.5s ease forwards 3s;
    -webkit-animation: fill 0.5s ease forwards 3s; */
    position: relative;
}


#logo path:nth-child(1) {
    stroke-dasharray: 3322;
    stroke-dashoffset: 3322;
    animation: line-animation 3.5s ease forwards, fill-cricles 2s ease forwards 3s;
    -webkit-animation: line-animation 3.5s ease forwards, fill-cricles 2s ease forwards 3s;
}

#logo path:nth-child(2) {
    stroke-dasharray: 2989;
    stroke-dashoffset: 2989;
    animation: line-animation 3.5s ease forwards 0.3s, fill-cricles 2s ease forwards 2s;
    -webkit-animation: line-animation 3.5s ease forwards 0.3s, fill-cricles 2s ease forwards 2s;
}


#logo path:nth-child(3) {
    stroke-dasharray: 2984;
    stroke-dashoffset: 2984;
    animation: line-animation 3.5s ease forwards 0.6s, fill-straw 2s ease forwards 3.3s;
    -webkit-animation: line-animation 3.5s ease forwards 0.6s, fill-straw 2s ease forwards 3.3s;
}

/*
#logo path:nth-child(4) {
  stroke-dasharray: 170;
  stroke-dashoffset: 170;
  animation: line-animation 2s ease forwards 0.9s;
  -webkit-animation: line-animation 2s ease forwards 0.9s;
}

#logo path:nth-child(5) {
  stroke-dasharray: 463;
  stroke-dashoffset: 463;
  animation: line-animation 2s ease forwards 1.2s;
  -webkit-animation: line-animation 2s ease forwards 1.2s;
}

#logo path:nth-child(6) {
  stroke-dasharray: 481;
  stroke-dashoffset: 481;
  animation: line-animation 2s ease forwards 1.5s;
  -webkit-animation: line-animation 2s ease forwards 1.5s;
}

#logo path:nth-child(7) {
  stroke-dasharray: 431;
  stroke-dashoffset: 431;
  animation: line-animation 2s ease forwards 1.8s;
  -webkit-animation: line-animation 2s ease forwards 1.8s;
}

#logo path:nth-child(8) {
  stroke-dasharray: 449;
  stroke-dashoffset: 449;
  animation: line-animation 2s ease forwards 2.1s;
  -webkit-animation: line-animation 2s ease forwards 2.1s;
}
*/
@keyframes line-animation {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill-straw {
    from {
        fill-opacity: 0;
    }

    to {
        fill-opacity: 1;
    }
}

@keyframes fill-cricles {
    from {
        fill-opacity: 0;
    }

    to {
        fill-opacity: 1;
    }
}