.footer-contact-section {
    height: 80vh;
    background: url('../../assets/contact-footer.svg') no-repeat top center;
    background-size: cover;
    display: flex;
    align-items: center;

}

.footer {
    /* height: 50vh; */
    background: url('../../assets/footerBottom.svg') no-repeat top center;
    background-size: cover;
    margin-top: -50px;
}

.contact-us-footer {
    height: 10vh;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 4em;

}

.contact-form-footer {
    opacity: 0.8;
    margin-top: 30px;
    /* width: 60%; */
    /* float: right;
    margin-left: auto */
}

.footer,
.footer-contact-section {
    padding: var(--page-padding-large);

}

@media only screen and (max-width: 768px) {

    .contact-us-footer {
        margin-top: 0%;

    }

    .footer,
    .footer-contact-section {
        padding: var(--page-padding-small);
    }

    .footer-contact-section {
        height: 120vh;

    }



}

@media only screen and (max-width: 450px) {
    .footer-contact-section {
        height: 150vh;

    }

}



.contact-info-footer {
    opacity: 0.8;
}

.contact-info-footer>div {
    display: flex;
    flex-direction: column;
}

.contact-info-footer>p {
    width: 80%;
    /* opacity: var(--secondary-text-opacity); */
}

.contact-info-footer>div>span {
    margin-bottom: 12px;
    color: var(--primary-text-color);
    font-size: var(--paragraph-font-size);
    /* opacity: var(--secondary-text-opacity); */

}

.contact-info-footer>div>span>i {
    margin-right: 0.75em;
}

.footer-section {
    margin-top: 8em;
    margin-bottom: 3em;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links>span {
    margin-bottom: 0.75em;
    color: var(--secondary-text-color);
}

.footer-links>span:first-child {
    font-weight: 500;
    opacity: var(--primary-text-opacity);
    font-size: var(--paragraph-font-size);
}

.footer-links>span {
    opacity: var(--tertiary-text-opacity);
    font-size: 0.9375em;
}

.credits {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3em;
    margin-bottom: 3em;
    font-size: var(--paragraph-font-size);
    color: var(--secondary-text-color);
}

.credits>span:first-child {
    margin-right: 2em;
}

.company-name-footer {
    margin-top: 2em;

}

.company-name-footer>span {
    color: var(--secondary-text-color);
    font-size: var(--secondary-font-size);
    font-weight: var(--primary-font-weight);

}

.company-name-footer>span>em {
    font-size: 2.5rem;
    font-weight: var(--secondary-font-weight);

}