.mission {
    height: 100vh;
    width: 100vw;
    padding: var(--page-padding-large);

}

.domain-svg {
    background: url('../../assets/researchPlant.svg') no-repeat center center;
    background-size: contain;
    height: 50vh;
    width: 100%;

}

.domain-text {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    justify-content: center;

}

.domain-text>div {
    max-width: 200px;
}

@media only screen and (max-width: 768px) {
    .mission {
        padding: var(--page-padding-small);
    }
}

.domain-box {

    width: 100%;
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    margin-top: 4em;
    padding: var(--component-padding);
    color: var(--primary-text-color);
    border: 2px dashed var(--primary-component-color);
    cursor: pointer;
}

.domain-box:hover {
    background-color: var(--secondary-background-color);
}

.domain-box-active {
    background-color: var(--secondary-background-color);

}

.domain-box>span {
    font-size: 1.25em;
    line-height: calc(1.25em + var(--line-height));

}

.domain-box>p {
    margin-top: 0.75em;
}

.domain-box>img {
    margin-bottom: 0.75em;
}

.mission-text {
    margin-bottom: 4em;
}