@import './themes/main.css';

main {
  /* background-color: var(--main-background-color); */
  /* height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory; */
  background-color: white;


}

section {

  /* scroll-snap-align: center; */
  /* display: flex;
  align-items: center;
  justify-content: center; */


}

svg {}